<h2 mat-dialog-title class="mat-headline">Internar en {{data.tipoCama | uppercase}} N° {{data.nroCama}}</h2>
<mat-dialog-content>
    <div mat-dialog-content>
        <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!" #stepper>
            <!--[linear]="isLinear"-->
            <!--linear-->
            <!-- STEP 1 -->
            <mat-step [stepControl]="pacienteFormGroup" label="{{ 'Paciente' | uppercase }}"
                label="{{ 'Paciente' | uppercase }}" errorMessage="Por favor, verifique los datos ingresados.">
                <!-- editable="false"-->
                <form [formGroup]="pacienteFormGroup" autocomplete="off">
                    <!-- Formulario Paciente-->
                    <!-- Persona 
                    "openSnackBar('No se encontró paciente para el D.N.I ingresado, por favor complete los campos', 'OK')"
                (keydown.enter)="openSnackBar('No se encontró paciente para el D.N.I ingresado, por favor complete los campos', 'OK')"-->
                    <mat-form-field appearance="outline">
                        <mat-label>D.N.I</mat-label>
                        <!--(blur)="busquedaPordni(pacienteFormGroup.value.dni)"-->
                        <input matInput cdkFocusInitial autocomplete="off" placeholder="Ingrese D.N.I" formControlName="dni"
                            (keypress)="numberOnly($event)"
                            
                            (keydown.enter)="busquedaPordni(pacienteFormGroup.value.dni)"
                            required>
                        <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Buscar Paciente por DNI'"
                            *ngIf="!existePaciente"
                            (click)="busquedaPordni(pacienteFormGroup.value.dni)"
                            style="color: #0000008a;">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button type="button" mat-icon-button matSuffix *ngIf="existePaciente"
                                    (click)="pacienteFormGroup.get('dni').reset(); enablePacienteInputs()">
                                    <mat-icon style="color: rgba(0,0,0,.54);">cancel</mat-icon>
                                  </button>
                        <mat-error *ngIf="hasError('dni','required')">
                            Ingrese el <strong>D.N.I</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

                    <div *ngIf="!loading">
                        <h4 class="mat-title">Datos Personales</h4>
                        <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput autocomplete="off" placeholder="Nombre"
                                            formControlName="nombre">
                                        <mat-error *ngIf="hasError('nombre','required')">
                                            Ingrese el <strong>Nombre</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Apellido</mat-label>
                                        <input matInput autocomplete="off" placeholder="Apellido"
                                            formControlName="apellido">
                                        <mat-error *ngIf="hasError('apellido','required')">
                                            Ingrese el <strong>Apellido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Fecha de Nacimiento</mat-label>
                                        <input matInput autocomplete="off" [matDatepicker]="fechaNacimiento"
                                            formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
                                        <mat-hint>DD/MM/AAAA</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="fechaNacimiento">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #fechaNacimiento></mat-datepicker>
                                        <mat-error *ngIf=" hasError('fechaNacimiento', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, ingrese la <strong>Fecha de Nacimiento</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Sexo</mat-label>
                                        <mat-select formControlName="sexo">
                                            <mat-option>Seleccione...</mat-option>
                                            <mat-option *ngFor="let sexo of sexoList" [value]="sexo">
                                                {{sexo}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf=" hasError('sexo', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, seleccione el <strong>Sexo</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>País</mat-label>
                                        <mat-select formControlName="pais">
                                            <mat-option>Seleccione...</mat-option>
                                            <mat-option *ngFor="let pais of paisList" [value]="pais">
                                                {{pais}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf=" hasError('pais', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, seleccione el <strong>País</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Provincia</mat-label>
                                        <mat-select formControlName="provincia">
                                            <mat-option>Seleccione...</mat-option>
                                            <mat-option *ngFor="let provincia of provinciaList" [value]="provincia">
                                                {{provincia}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf=" hasError('provincia', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, seleccione la <strong>Provincia</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Partido</mat-label>
                            <mat-select formControlName="partido">
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let partido of partidoList" [value]="partido">
                                    {{partido}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf=" hasError('partido', 'required' )" style="margin-bottom: 5px;">
                                Por favor, seleccione el <strong>Partido</strong>
                            </mat-error>
                        </mat-form-field>

                        <!-- <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Partido</mat-label>
                                        <mat-select formControlName="partido">
                                            <mat-option>Seleccione...</mat-option>
                                            <mat-option *ngFor="let partido of partidoList" [value]="partido">
                                                {{partido}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Código Postal</mat-label>
                                        <input matInput placeholder="Código Postal" (keypress)="numberOnly($event)"
                                            formControlName="cp">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div> -->

                        <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Calle</mat-label>
                                        <input matInput autocomplete="off" placeholder="Calle" formControlName="calle">
                                        <mat-error *ngIf=" hasError('calle', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, ingrese la <strong>Calle</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Altura</mat-label>
                                        <input matInput autocomplete="off" placeholder="Altura"
                                            formControlName="altura">
                                        <mat-error *ngIf=" hasError('altura', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, ingrese la <strong>Altura</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <h4 class="mat-title">Datos Responsable</h4>

                        <mat-form-field appearance="outline">
                            <mat-label>Responsable</mat-label>
                            <textarea matInput placeholder="Ingrese datos del Responsable..."
                                formControlName="responsable" rows="6"></textarea>
                            <mat-error *ngIf=" hasError('responsable', 'required' )" style="margin-bottom: 5px;">
                                Por favor, Ingrese datos del <strong>Responsable</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Teléfono del Responsable</mat-label>
                            <input matInput autocomplete="off" placeholder="Teléfono" (keypress)="numberOnly($event)"
                                formControlName="telefono">
                            <mat-error *ngIf=" hasError('telefono', 'required' )" style="margin-bottom: 5px;">
                                Por favor, Ingrese el <strong>Teléfono del Responsable</strong>
                            </mat-error>
                        </mat-form-field>

                        <!--<div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Responsable</mat-label>
                                        <input matInput autocomplete="off" placeholder="Nombre" formControlName="nombre">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Teléfono del Responsable</mat-label>
                                        <input matInput autocomplete="off" placeholder="Teléfono"
                                            (keypress)="numberOnly($event)" formControlName="telefono">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>-->

                        <!-- <h4 class="mat-title">Cama</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="tipoCama">
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let tipoCama of tipoCamaList" [value]="tipoCama">
                                    {{tipoCama}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>

                    <!-- <div align="end" style="display: none;">
                        <button mat-button matStepperNext>{{ 'Siguiente' | uppercase }}</button>
                    </div> -->
                </form>
            </mat-step>
            <!-- STEP 2 -->
            <mat-step [stepControl]="internacionFormGroup" label="{{ 'Internación' | uppercase }}"
                errorMessage="Por favor, verifique los datos ingresados.">
                <!-- editable="false"-->
                <form [formGroup]="internacionFormGroup" autocomplete="off">
                    
                    <div style="width: 100%;">
                        <!-- Doble Chequeo de Identidad -->
                        <mat-form-field appearance="outline">
                            <mat-label>Confirme D.N.I</mat-label>
                            <input matInput cdkFocusInitial autocomplete="off" placeholder="Ingrese D.N.I" formControlName="dniConfirme"
                                (keypress)="numberOnly($event)" required>
                            <mat-icon matSuffix style="font-size: 25px;" class="icon-status-success" *ngIf="dniOK">
                                check_circle
                            </mat-icon>
                        
                            <mat-icon matSuffix style="font-size: 25px;" class="icon-status-error" *ngIf="!dniOK && internacionFormGroup.get('dniConfirme').touched">
                                error_outline
                            </mat-icon>
                        
                            <mat-error *ngIf=" hasError('dniConfirme', 'required' )" style="margin-bottom: 5px;">
                                Por favor, Confirme el D.N.I
                            </mat-error>
                            <mat-error *ngIf="hasError('dniConfirme', 'mustMatch')" style="margin-bottom: 5px;">Los D.N.I ingresados no
                                coinciden, por favor verifique</mat-error>
                        </mat-form-field>

                        <!-- Fecha de Ingreso  -->
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha de Ingreso</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="fechaIngreso"
                                placeholder="Fecha de Ingreso" formControlName="fechaIngreso">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaIngreso"></mat-datepicker-toggle>
                            <mat-datepicker #fechaIngreso></mat-datepicker>
                            <mat-error *ngIf=" hasError('fechaIngreso', 'required' )" style="margin-bottom: 5px;">
                                Por favor, ingrese la <strong>Fecha de Ingreso</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                            (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <!-- Inicio Síntoma Lesión-->
                                <mat-form-field appearance="outline">
                                    <mat-label>Inicio Síntoma Lesión</mat-label>
                                    <input matInput [matDatepicker]="fechaInicioSintoma"
                                        placeholder="Inicio Síntoma Lesión" formControlName="fechaInicioSintoma">
                                    <mat-hint>DD/MM/AAAA</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="fechaInicioSintoma">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #fechaInicioSintoma></mat-datepicker>
                                    <mat-error *ngIf=" hasError('fechaInicioSintoma', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, ingrese la  fecha de <strong>Inicio Síntoma Lesión</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Peso (Kg)</mat-label>
                                    <input matInput type="number" autocomplete="off" placeholder="Peso (Kg)"
                                        formControlName="peso"> <!-- (keypress)="numberOnly($event)"-->
                                    <!--autocomplete="off"          (blur)='showData()'         -->
                                    <!-- <input matInput formControlName="peso" [value]="internacionFormGroup.get('peso').value | number : '1.2-2'" placeholder="Peso">-->
                                    <!-- type="number" step="0.1" 1.1-2 -->
                                    <!-- <input [ngModel]="minimumRange | number : '1.1-2'" (ngModelChange)="minimumRange=$event" placeholder="0.0" >-->
                                    <mat-error *ngIf=" hasError('peso', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, ingrese el <strong>Peso</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                    <!-- Diagnóstico-->
                    <mat-form-field appearance="outline">
                        <mat-label>Diagnóstico</mat-label>
                        <textarea matInput placeholder="Ingrese diagnóstico..."
                            formControlName="diagnostico" rows="6"></textarea>
                        <mat-error *ngIf=" hasError('diagnostico', 'required' )" style="margin-bottom: 5px;">
                            Por favor, ingrese el <strong>Diagnóstico</strong>
                        </mat-error>
                    </mat-form-field>


                    <!-- <div style="width: 100%;">
                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px" (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-slide-toggle formControlName="isRiesgoSocial" style="padding-bottom: 10px;">Riesgo Social
                                </mat-slide-toggle>
                            </mat-grid-tile>
                    
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Enfermedad de Base</mat-label>
                                    <mat-select formControlName="enfermedadDeBase" multiple>
                                        <mat-option *ngFor="let enfermedadDeBase of enfermedadDeBaseList" [value]="enfermedadDeBase">
                                            {{enfermedadDeBase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>-->

                    <div style="width: 100%;">
                        <mat-slide-toggle formControlName="isRiesgoSocial" style="padding-bottom: 10px;">Riesgo Social</mat-slide-toggle>
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Enfermedad de Base</mat-label>
                        <mat-select formControlName="enfermedadDeBase" multiple>
                            <mat-option *ngFor="let enfermedadDeBase of enfermedadDeBaseList" [value]="enfermedadDeBase" (onSelectionChange)="selectionTipo($event)">
                                {{enfermedadDeBase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="showOtras">
                        <mat-form-field appearance="outline">
                            <mat-label>Otras Enfermedades de Base</mat-label>
                            <input matInput autocomplete="off" placeholder="Otras Enfermedades de Base"
                                formControlName="otrasDescripcion">
                            <mat-error *ngIf="hasError('otrasDescripcion','required')">
                                Ingrese otras <strong>Enfermedades de Base</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Quemado-->
                    <div style="width: 100%;">
                        <mat-slide-toggle formControlName="quemado" (change)="quemadoChange($event)" >Quemado</mat-slide-toggle>
                    </div>
                    <br>

                    <div *ngIf="internacionFormGroup.get('quemado').value">
                        <h4 class="mat-title">Quemado</h4>
                        <!-- <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Inicio Síntoma Lesión</mat-label>
                                        <input matInput [matDatepicker]="fechaInicioSintoma"
                                            placeholder="Inicio Síntoma Lesión" formControlName="fechaInicioSintoma">
                                        <mat-hint>DD/MM/AAAA</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="fechaInicioSintoma">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #fechaInicioSintoma></mat-datepicker>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Causa</mat-label>
                                        <mat-select formControlName="causa">
                                            <mat-option>Seleccione...</mat-option>
                                            <mat-option *ngFor="let causa of causaList" [value]="causa">
                                                {{causa}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div> -->

                        <mat-form-field appearance="outline">
                            <mat-label>Causa</mat-label>
                            <mat-select formControlName="causa">
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let causa of causaList" [value]="causa">
                                    {{causa}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf=" hasError('causa', 'required' )" style="margin-bottom: 5px;">
                                Por favor, seleccione la <strong>Causa</strong>
                            </mat-error>
                        </mat-form-field>


                        <!-- <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-slide-toggle formControlName="injertado">Injertado</mat-slide-toggle>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-slide-toggle formControlName="infectado">Infectado</mat-slide-toggle>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div> -->

                        <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tipo de Quemadura</mat-label>
                                        <mat-select formControlName="tipoQuemadura">
                                            <mat-option>Seleccione...</mat-option>
                                            <mat-option *ngFor="let tipoQuemadura of tipoQuemaduraList"
                                                [value]="tipoQuemadura">
                                                {{tipoQuemadura}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf=" hasError('tipoQuemadura', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, seleccione el <strong>Tipo de Quemadura</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Porcentaje (%)</mat-label>
                                        <input matInput placeholder="Porcentaje (%)" type="number" min="0" max="100"
                                            (keypress)="numberOnly($event)" formControlName="porcentaje">
                                        <mat-error *ngIf=" hasError('porcentaje', 'required' )" style="margin-bottom: 5px;">
                                            Por favor, ingrese el <strong>Porcentaje</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <div style="width: 100%;">
                            <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                                (window:resize)="onResize($event)">
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <div style="width: 100%;">
                                        <mat-slide-toggle formControlName="infectado">Infectado</mat-slide-toggle>
                                    </div>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                    <div style="width: 100%;">
                                        <mat-slide-toggle formControlName="injertado">Injertado</mat-slide-toggle>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        
                    </div>

                    <!-- <div align="end" style="display: none;">
                        <button mat-button matStepperPrevious>{{ 'Anterior' | uppercase }}</button>
                        <button mat-button matStepperNext>{{ 'Siguiente' | uppercase }}</button>
                    </div> -->
                </form>
            </mat-step>
            <!-- STEP 3 
            <mat-step [stepControl]="evolucionFormGroup" label="{{ 'Evolución' | uppercase }}" editable="false">
                <form [formGroup]="evolucionFormGroup" autocomplete="off">
                    <x!-- Fecha de Evolución --x>
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="fechaEvolucion" placeholder="Fecha"
                            formControlName="fechaEvolucion">
                        <mat-hint>DD/MM/AAAA</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="fechaEvolucion"></mat-datepicker-toggle>
                        <mat-datepicker #fechaEvolucion></mat-datepicker>
                    </mat-form-field>
                    <x!-- Descripción--x>
                    <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput placeholder="Ingrese descripción..."
                            formControlName="descripcion"></textarea>
                    </mat-form-field>

                    <div align="end" style="display: none;">
                        <button mat-button matStepperPrevious>{{ 'Anterior' | uppercase }}</button>
                        <button mat-button matStepperNext>{{ 'Siguiente' | uppercase }}</button>
                    </div>
                </form>
            </mat-step> -->

            <!-- STEP 4 -->
            <mat-step>
                <ng-template matStepLabel>{{ 'Resumen' | uppercase }}</ng-template>

                <h4 class="mat-title">Paciente</h4>
                <table style="width: 50%; margin: 0px auto;">
                    <tr *ngFor="let data of pacienteFormGroup.value | keyvalue: originalOrder">
                        <td> <b>{{getInputName(data.key)}}: </b></td>
                        <td>{{getPipeValueType(data.value)}}</td>
                        <!-- <td>{{data.value ? getPipeValueType(data.value) : ' - '}}</td>-->
                    </tr>
                </table>

                <br>
                <br>
                <h4 class="mat-title">Internación</h4>
                <table style="width: 50%; margin: 0px auto;">
                    <tr *ngFor="let data of internacionFormGroup.value | keyvalue: originalOrder">
                        <td> <b>{{getInputName(data.key)}}</b></td>
                        <td>{{getPipeValueType(data.value)}}</td>
                        <!-- <td>{{( data.value && data.value.length > 0) ? getPipeValueType(data.value) : ' - '}}</td>-->
                    </tr>
                </table>

                <!-- <div align="end" style="display: none;">
                    <button mat-button matStepperPrevious>{{ 'Anterior' | uppercase }}</button>
                    <button mat-button (click)="stepper.reset()">{{ 'Resetear' | uppercase }}</button>
                    <button mat-flat-button class="btn-ssami-primary">{{ 'Guardar' | uppercase }}</button>
                </div> -->
            </mat-step>
        </mat-stepper>
    </div>
</mat-dialog-content>

<div mat-dialog-actions>
    <div style="flex-grow: 1">
        <button mat-stroked-button (click)="onCloseClick()" color="accent">{{ 'cerrar' | uppercase }}</button> <!-- matDialogClose="yes"-->
    </div>
    <div align="end">
        <button mat-button (click)="goBack()" *ngIf="(stepper.selectedIndex == 1 || stepper.selectedIndex == 2)">{{
            'Anterior' | uppercase }}</button>
        <button mat-button (click)="goForward()" *ngIf="(stepper.selectedIndex == 0 || stepper.selectedIndex == 1)">{{
            'Siguiente' | uppercase }}</button>
        <!--<button mat-button (click)="reset()" *ngIf="stepper.selectedIndex == 2">{{ 'Resetear' | uppercase }}</button>-->
        <button mat-flat-button class="btn-ssami-primary" *ngIf="stepper.selectedIndex == 2" [disabled]="(pacienteFormGroup.invalid || internacionFormGroup.invalid || pacienteYaInternado)" (click)="savePaciente()">{{ 'Guardar' | uppercase
            }}</button>
    </div>
</div>


<!-- CONFIRMAR SECTION -->
<ng-template #confirmarDialog>
    <h2 matDialogTitle class="mat-headline">Confirme</h2>
    <mat-dialog-content>
      <p><strong>Atención: </strong> Si confirma se perderán los datos cargados hasta el momento</p> 
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose class="cancelar">CANCELAR</button><!---->
      <button mat-button class="btn-ssami-primary" matDialogClose="SIP">CONFIRMAR</button><!--matDialogClose="data.Paciente.Internacions[0].id" -->
    </mat-dialog-actions>
  </ng-template>