<h2 mat-dialog-title class="mat-headline">Agregar Paciente</h2>
<mat-dialog-content>
    <div mat-dialog-content>
        <form [formGroup]="pacienteFormGroup" autocomplete="off">
            <!-- Formulario Paciente-->
            <!-- Persona 
            "openSnackBar('No se encontró paciente para el D.N.I ingresado, por favor complete los campos', 'OK')"
        (keydown.enter)="openSnackBar('No se encontró paciente para el D.N.I ingresado, por favor complete los campos', 'OK')"-->
            <mat-form-field appearance="outline">
                <mat-label>D.N.I</mat-label>
                <!--(blur)="busquedaPordni(pacienteFormGroup.value.dni)"     -->
                <input matInput cdkFocusInitial autocomplete="off" placeholder="Ingrese D.N.I" formControlName="dni"
                    (keypress)="numberOnly($event)" (keydown.enter)="busquedaPordni(pacienteFormGroup.value.dni)">
                <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Buscar Paciente por DNI'"
                    *ngIf="(!existePaciente && !isEdition) || (isEdition && !existePaciente && pacienteFormGroup.get('dni').touched)"
                    (click)="busquedaPordni(pacienteFormGroup.value.dni)"
                    style="color: #0000008a;">
                    <mat-icon>search</mat-icon>
                </button>
                <button type="button" mat-icon-button matSuffix *ngIf="(existePaciente && !isEdition)  || (isEdition && existePaciente && pacienteFormGroup.get('dni').touched)"
                            (click)="pacienteFormGroup.get('dni').reset(); enablePacienteInputs()">
                            <mat-icon style="color: rgba(0,0,0,.54);">cancel</mat-icon>
                          </button>
                <mat-error *ngIf="hasError('dni','required')">
                    Ingrese el <strong>D.N.I</strong>
                </mat-error>
            </mat-form-field>
        
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            
            <div> <!--*ngIf="showPacienteForm"-->
                <div> <!--*ngIf="!loading"-->
                    <h4 class="mat-title">Datos Personales</h4>
                    <div style="width: 100%;">
                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                            (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput #nombre autocomplete="off" placeholder="Nombre"
                                        formControlName="nombre">
                                    <mat-error *ngIf="hasError('nombre','required')">
                                        Ingrese el <strong>Nombre</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Apellido</mat-label>
                                    <input matInput autocomplete="off" placeholder="Apellido"
                                        formControlName="apellido">
                                    <mat-error *ngIf="hasError('apellido','required')">
                                        Ingrese el <strong>Apellido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
            
                    <div style="width: 100%;">
                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                            (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Fecha de Nacimiento</mat-label>
                                    <input matInput autocomplete="off" [matDatepicker]="fechaNacimiento"
                                        formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
                                    <mat-hint>DD/MM/AAAA</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="fechaNacimiento">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #fechaNacimiento></mat-datepicker>
                                    <mat-error *ngIf=" hasError('fechaNacimiento', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, ingrese la <strong>Fecha de Nacimiento</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Sexo</mat-label>
                                    <mat-select formControlName="sexo">
                                        <mat-option>Seleccione...</mat-option>
                                        <mat-option *ngFor="let sexo of sexoList" [value]="sexo">
                                            {{sexo}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf=" hasError('sexo', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, seleccione el <strong>Sexo</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
            
                    <div style="width: 100%;">
                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                            (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>País</mat-label>
                                    <mat-select formControlName="pais">
                                        <mat-option>Seleccione...</mat-option>
                                        <mat-option *ngFor="let pais of paisList" [value]="pais">
                                            {{pais}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf=" hasError('pais', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, seleccione el <strong>País</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Provincia</mat-label>
                                    <mat-select formControlName="provincia">
                                        <mat-option>Seleccione...</mat-option>
                                        <mat-option *ngFor="let provincia of provinciaList" [value]="provincia">
                                            {{provincia}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf=" hasError('provincia', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, seleccione la <strong>Provincia</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Partido</mat-label>
                        <mat-select formControlName="partido">
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let partido of partidoList" [value]="partido">
                                {{partido}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf=" hasError('partido', 'required' )" style="margin-bottom: 5px;">
                            Por favor, seleccione el <strong>Partido</strong>
                        </mat-error>
                    </mat-form-field>
            
                    <!-- <div style="width: 100%;">
                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                            (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Partido</mat-label>
                                    <mat-select formControlName="partido">
                                        <mat-option>Seleccione...</mat-option>
                                        <mat-option *ngFor="let partido of partidoList" [value]="partido">
                                            {{partido}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Código Postal</mat-label>
                                    <input matInput placeholder="Código Postal" (keypress)="numberOnly($event)"
                                        formControlName="cp">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div> -->
            
                    <div style="width: 100%;">
                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                            (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Calle</mat-label>
                                    <input matInput autocomplete="off" placeholder="Calle" formControlName="calle">
                                    <mat-error *ngIf=" hasError('calle', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, ingrese la <strong>Calle</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Altura</mat-label>
                                    <input matInput autocomplete="off" placeholder="Altura"
                                        formControlName="altura">
                                    <mat-error *ngIf=" hasError('altura', 'required' )" style="margin-bottom: 5px;">
                                        Por favor, ingrese la <strong>Altura</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
            
                    <h4 class="mat-title">Datos Responsable</h4>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Responsable</mat-label>
                        <textarea matInput placeholder="Ingrese datos del Responsable..."
                            formControlName="responsable" rows="6"></textarea>
                        <mat-error *ngIf=" hasError('responsable', 'required' )" style="margin-bottom: 5px;">
                            Por favor, Ingrese datos del <strong>Responsable</strong>
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono del Responsable</mat-label>
                        <input matInput autocomplete="off" placeholder="Teléfono" (keypress)="numberOnly($event)"
                            formControlName="telefono">
                            <mat-error *ngIf=" hasError('telefono', 'required' )" style="margin-bottom: 5px;">
                                Por favor, Ingrese el <strong>Teléfono del Responsable</strong>
                            </mat-error>
                    </mat-form-field>
            
                    <!--<div style="width: 100%;">
                        <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                            (window:resize)="onResize($event)">
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Responsable</mat-label>
                                    <input matInput autocomplete="off" placeholder="Nombre" formControlName="nombre">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Teléfono del Responsable</mat-label>
                                    <input matInput autocomplete="off" placeholder="Teléfono"
                                        (keypress)="numberOnly($event)" formControlName="telefono">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>-->
            
                    <!-- <h4 class="mat-title">Cama</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="tipoCama">
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let tipoCama of tipoCamaList" [value]="tipoCama">
                                {{tipoCama}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button matDialogClose>{{'Cerrar' | uppercase}}</button>
    <button mat-button class="btn-ssami-primary" [disabled]="pacienteFormGroup.invalid || (existePaciente && !isEdition) || (existePaciente && isEdition && !hasChange)" (click)="savePaciente()">{{'Guardar' | uppercase}}</button><!--(click)="evolucionar()"-->
    <!--(click)="evolucionar(data)"-->
</mat-dialog-actions>


