/*.dashboard-card-content {
    text-align: center;
    width: 100%;
    height: calc(100% - 30px);
}*/

.dashboard-card-content {
    width: 100%;
    /*height: calc(100% - 30px);*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.is-loading-card {
    opacity: 0.15;
}

.legend-labels {
    max-height: 80px !important;
    overflow-x: scroll !important;
}