<app-layout>
    <div class="container">
        <mat-toolbar class="page-header" role="heading">
            <h1>Estadística</h1>
        </mat-toolbar>

        <div>
            <!-- Bar Vertical + Table -->
            <div fxLayout="row wrap">
                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-card>
                        <mat-card-title-group style="align-items: center;">
                            <mat-card-title>Estadía / % Qx</mat-card-title>
                            <!-- Menu -->
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Filtrar entre Fechas</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtrar por...</span>
                                </button>
                            </mat-menu>
                        </mat-card-title-group>
                        <mat-card-content style="min-height: 250px;" [ngClass]="isLoading ? 'is-loading-card' : ''">
                            <ngx-charts-bar-vertical [view]="view" [legendTitle]="legendTitle" [results]="data" [legendPosition]="legendPosition"
                                [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [showDataLabel]="showDataLabel"
                                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [scheme]="colorScheme">
                            </ngx-charts-bar-vertical>
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>
                </div>

                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <mat-card>
                        <mat-card-title-group style="align-items: center;">
                            <mat-card-title>Estadía / % Qx</mat-card-title>
                            <!-- Menu -->
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Filtrar entre Fechas</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtrar por...</span>
                                </button>
                                <!--<button mat-menu-item>
                                    <span>Disable alerts</span>
                                </button>-->
                            </mat-menu>
                        </mat-card-title-group>
                        <mat-card-content style="height: 250px;" [ngClass]="isLoading ? 'is-loading-card' : ''">
                            <div style="max-height: 200px;
                                                    overflow: auto;">
                        
                                <table style="width: 100%;">
                                    <tr>
                                        <th>{{xAxisLabel}} (%)</th>
                                        <th>{{yAxisLabel}}</th>
                                    </tr>
                                    <tr *ngFor="let d of data" style="text-align: center;">
                                        <td>{{d.name}}</td>
                                        <td>{{d.value}}</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- <table matSort style="width: 100%;">
                                <tr>
                                    <th mat-sort-header="name">Dessert (100g)</th>
                                    <th mat-sort-header="calories">Calories</th>
                                    <th mat-sort-header="fat">Fat (g)</th>
                                    <th mat-sort-header="carbs">Carbs (g)</th>
                                    <th mat-sort-header="protein">Protein (g)</th>
                                </tr>

                                <tr *ngFor="let dessert of sortedData">
                                    <td>{{dessert.name}}</td>
                                    <td>{{dessert.calories}}</td>
                                    <td>{{dessert.fat}}</td>
                                    <td>{{dessert.carbs}}</td>
                                    <td>{{dessert.protein}}</td>
                                </tr>
                            </table>-->
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>

            <!-- TEST -->
            <div fxLayout="row wrap">

                <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
                    <!--1-->
                    <mat-card>
                        <mat-card-title-group style="align-items: center;">
                            <mat-card-title>{{pieTitle1}}</mat-card-title>
                            <!-- Menu -->
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                            </mat-menu>
                        </mat-card-title-group>
                        <mat-card-content [ngClass]="isLoading ? 'is-loading-card' : ''">
                            <div #ContainerRef>
                                <!--[labelFormatting]="pieChartLabel.bind(this, d.data)" [scheme]="colorScheme"-->
                                <ngx-charts-pie-chart  [scheme]="colorScheme" #pieChart roundEdges="false" animation="false" [view]="[ContainerRef.offsetWidth, 250]" [legendTitle]="legendTitle" [results]="pieData1" [legend]="showLegend" 
                                    [labels]="showLabels" [legendPosition]="legendPosition" [doughnut]="isDoughnut" [labelFormatting]="labelFormatPie1">
                                </ngx-charts-pie-chart>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>
                </div>

                <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
                    <!--1-->
                    <mat-card>
                        <mat-card-title-group style="align-items: center;">
                            <mat-card-title>{{pieTitle2}}</mat-card-title>
                            <!-- Menu -->
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                            </mat-menu>
                        </mat-card-title-group>
                        <mat-card-content [ngClass]="isLoading ? 'is-loading-card' : ''">
                            <div #ContainerRef>
                                <!--[labelFormatting]="pieChartLabel.bind(this, d.data)" [scheme]="colorScheme"-->
                                <ngx-charts-pie-chart  [scheme]="colorScheme" #pieChart roundEdges="false" animation="false" [view]="[ContainerRef.offsetWidth, 250]" [legendTitle]="legendTitle" [results]="pieData2" [legend]="showLegend" 
                                    [labels]="showLabels" [legendPosition]="legendPosition" [doughnut]="isDoughnut" [labelFormatting]="labelFormatPie2">
                                </ngx-charts-pie-chart>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>
                </div>

                <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
                    <!--1-->
                    <mat-card>
                        <mat-card-title-group style="align-items: center;">
                            <mat-card-title>{{pieTitle3}}</mat-card-title>
                            <!-- Menu -->
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                            </mat-menu>
                        </mat-card-title-group>
                        <mat-card-content [ngClass]="isLoading ? 'is-loading-card' : ''">
                            <div #ContainerRef>
                                <!--[labelFormatting]="pieChartLabel.bind(this, d.data)" [scheme]="colorScheme"-->
                                <ngx-charts-pie-chart  [scheme]="colorScheme" #pieChart roundEdges="false" animation="false" [view]="[ContainerRef.offsetWidth, 250]" [legendTitle]="legendTitle" [results]="pieData3" [legend]="showLegend" 
                                    [labels]="showLabels" [legendPosition]="legendPosition" [doughnut]="isDoughnut" [labelFormatting]="labelFormatPie3">
                                </ngx-charts-pie-chart>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>

            <!-- ANDABA
            <div fxLayout="row wrap">
                <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100" *ngFor="let d of multiplePie">
                    <mat-card>
                        <mat-card-title-group>
                            <mat-card-title>{{d.title}}</mat-card-title>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Filtro 1</span>
                                </button>
                            </mat-menu>
                        </mat-card-title-group>
                        <mat-card-content [ngClass]="isLoading ? 'is-loading-card' : ''">
                            <div #ContainerRef>
                            --[labelFormatting]="pieChartLabel.bind(this, d.data)" [scheme]="colorScheme"--
                                <ngx-charts-pie-chart #pieChart roundEdges="false" animation="false" [view]="[ContainerRef.offsetWidth, 250]" [legendTitle]="legendTitle" [results]="d.data" [legend]="showLegend" 
                                    [labels]="showLabels" [legendPosition]="legendPosition" [doughnut]="isDoughnut" [labelFormatting]="myLabelFormatter">
                                </ngx-charts-pie-chart>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div> -->
            <!-- 3 Columns Pie's->
            <div fxLayout="row wrap">
                <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100" *ngFor="let num of [1,2,3]">
                    <mat-card>
                        <mat-card-title-group>
                            <mat-card-title>Título</mat-card-title>
      
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Redial</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Check voice mail</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Disable alerts</span>
                                </button>
                            </mat-menu>
                        </mat-card-title-group>
                        <mat-card-content [ngClass]="isLoading ? 'is-loading-card' : ''">
                            <div #ContainerRef>
                                <ngx-charts-pie-chart #pieChart [view]="[ContainerRef.offsetWidth, 250]" [results]="data" [legend]="showLegend" [labelFormatting]="labelFormat"
                                    [labels]="showLabels" [legendPosition]="legendPosition" [doughnut]="isDoughnut" [scheme]="colorScheme">
                                </ngx-charts-pie-chart>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>-->

        </div>
    </div>

    <app-footer></app-footer>
</app-layout>