<h2 mat-dialog-title class="mat-headline">Carga por Voz</h2>
<mat-dialog-content>
    <div mat-dialog-content>
        <div style="text-align: center;">
            <div style="text-align: -webkit-center; margin-bottom: 15px;">
                <aside *ngIf="errorMessage$| async as errorMessage" class="error-banner banner" style="max-width: 500px; display: flex;">
                    <strong><mat-icon>report</mat-icon></strong>
                    <span>{{errorMessage}}</span>
                    <p>
                        <!--<button mat-flat-button class="warning-state">OK</button>
                        <button mat-icon-button>
                            <mat-icon (click)="showBanner = !showBanner">close</mat-icon>
                        </button>-->
                    </p>
                </aside>
            </div>
            <!--<section style="text-align: center;">
                <mat-card *ngIf="errorMessage$| async as errorMessage" class="notification" style="color:red; max-width: 650px;">{{errorMessage}}</mat-card>
            </section>-->
            <!--<section>
                <mat-form-field>
                    <mat-label>Select your language</mat-label>
                    <mat-select [(value)]="currentLanguage">
                        <mat-option *ngFor="let language of languages" [value]="language" (click)="selectLanguage(language)">
                            {{language}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>-->
            <section style="text-align: center;">
                <button mat-fab *ngIf="listening$ | async; else mic" (click)="stop()" style="background-color: #f44336;">
                    <mat-icon>stop-circle</mat-icon> <!--class="soundwave" pulse-ring-->
                </button>
                <p *ngIf="speechRecognizer.isListening" style="margin-top: 10px; color: #f44336;"><i>Escuchando...</i></p>
                <ng-template #mic>
                    <button mat-fab color="primary" (click)="start()">
                        <mat-icon>mic</mat-icon>
                    </button>
                    <p style="margin-top: 10px;">
                        Haga click en el micrófono para comenzar a hablar. 
                    </p>
                </ng-template>
            </section>
            <br>
            <section *ngIf="transcript$ | async">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <textarea matInput [(ngModel)]="result" rows="10" style="font-size: 17px;"></textarea><!--margin-top: 10px-->
                </mat-form-field>
                <!--<p *ngIf="(result && result.trim().length > 0)">
                    Por favor, verifique el contenido antes de Guardar. Puede modifcarlo en caso de encontrar algún error. 
                </p>-->
                <!-- <mat-card class="notification mat-elevation-z4">{{transcript$ | async}}</mat-card>-->
            </section>
            <!-- <section>
                <mat-form-field class="speech-result-width">
                    <textarea matInput [value]="totalTranscript || ''" placeholder="Speech Input Result" rows="15"
                        disabled="true"></textarea>
                </mat-form-field>
            </section> -->
            <div style="text-align: -webkit-center;">
                <aside class="info-banner banner" style="max-width: 500px; display: flex;" *ngIf="showBanner && (result && result.trim().length > 0)">
                    <strong><mat-icon>info</mat-icon></strong>
                    <span><b>Importante.</b> Verifique el contenido antes de Guardar. Puede modifcarlo en caso de encontrar algún error.</span>
                    <p>
                        <!--<button mat-flat-button class="warning-state">OK</button>-->
                        <button mat-icon-button>
                            <mat-icon (click)="showBanner = !showBanner">close</mat-icon>
                        </button>
                    </p>
                </aside>
            </div>
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-button matDialogClose>{{'Cancelar' | uppercase}}</button>
    <button mat-button cdkFocusInitial class="btn-ssami-primary" [disabled]="!(result && result.trim().length > 0)"
        (click)="saveDescription()">{{'Guardar' | uppercase}}</button>
</div>