<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Login">
          <h4 class="auth-page__group-title">Bienvenido ATI!</h4>
          <app-login-form></app-login-form>
        </mat-tab>
        <mat-tab label="Nuevo Usuario">
          <h4 class="auth-page__group-title">Bienvenido</h4>
          <p class="auth-page__group-sub-title">Cree su cuenta</p>
          <app-sign-form></app-sign-form>
        </mat-tab>
      </mat-tab-group>
    
      <p class="auth-page__footer-title">© 2022 <a href="">SSAMI</a>, Todos los derechos reservados.</p>
    </div>
  </div>
  <div class="auth-page__logo background">
    <div class="auth-page__logo-wrapper layer">
      <h6 class="auth-page__logo-title">SSAMI</h6>
      <h2 style="color: white; text-align: center; padding: 10px; line-height: 42px;">Sistema de Seguimiento y Apoyo Médico en Internaciones</h2>
    </div>
  </div>
</div>
