<h2 matDialogTitle class="mat-headline">Detalle de {{data.title}}</h2>
<mat-dialog-content>
    <div *ngIf="!data.isImage && !(data.myData && data.myData.length > 0)">
        <p>No se encontraron datos para la evolución seleccionada</p>
    </div>
    <div *ngIf="!data.isImage && data.myData && data.myData.length > 0">
        <app-table-detail-dialog
            [dataSource]="data.myData"
            [columns]="data.myColumns">
        </app-table-detail-dialog>
    </div>
    <div *ngIf="data.isImage">
        <!-- Preview Section -->
        <mat-progress-bar mode="indeterminate" *ngIf="loadingFiles" style="padding-top: 10px;">
        </mat-progress-bar>
        <div *ngIf="!loadingFiles">
            <div class=" image-container" style="padding-bottom: 10px;">
                <!-- image item -->
                <div>
                    <div *ngIf="data.files && data.files.length > 0">
                        <br>
                        <div class="col-12 image-item"
                            style="display: flex; border-bottom: solid 2px lightgray; padding-bottom: 5px;"
                            *ngFor="let f of data.files; let i=index">
                            <!-- image mini -->
                            <a [attr.id]="i" [href]="f.url" data-lightbox="image"
                                data-title="{{f.title}}" style="align-self: center;">
                                <img class="ui bordered small image" [src]="f.url" width="30" height="30"
                                    alt="">
                            </a>
                            <!-- image detail-->
                            <div class="image-detail" style="flex:1; padding: 0px 5px 0px 15px;">
                                <!-- name -->
                                <div style="font-weight: bold; overflow-wrap: anywhere;">{{f.name}}
                                </div>
                                <!-- date --> 
                                <div style="color: slategray">Fecha de Carga: {{ f.fecha | date: 'dd/MM/yyyy' }}</div>
                            </div>

                            <div class="image-actions">
                                <!-- preview button -->
                                <button type="button" mat-icon-button aria-label="Previsualizar imágen"
                                    (click)="clickOn(i)">
                                    <mat-icon [inline]="true" style="font-size: 18px;">visibility</mat-icon>
                                </button>
                                <!-- delete button 
                                <button type="button" mat-icon-button aria-label="Eliminar imágen"
                                    (click)="delete(i)">
                                    <mat-icon [inline]="true" style="font-size: 18px;">cancel</mat-icon>
                                </button>-->
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button matDialogClose class="cancelar">CERRAR</button>
</mat-dialog-actions>