<h2 mat-dialog-title class="mat-headline">{{isEdicion ? 'Editar' : 'Generar'}} Indicación Médica</h2>
<mat-dialog-content style="padding-top: 15px;">
    <div mat-dialog-content>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <form [formGroup]="indicacionFormGroup" autocomplete="off" [ngClass]="isLoading ? 'is-loading-card' : ''">

            <div style="width: 100%;">
                <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="80px"
                    (window:resize)="onResize($event)">
                    <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Peso</mat-label>
                            <input matInput autocomplete="off" placeholder="Peso del Paciente" (keypress)="numberOnly($event)"
                                formControlName="peso">
                                <mat-error *ngIf=" hasError('peso', 'required' )" style="margin-bottom: 5px;">
                                    Por favor, Ingrese el <strong>Peso</strong>
                                </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="(breakpoint > 2 ? 2 : breakpoint)" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="fechaInicio"
                                formControlName="fechaInicio" placeholder="Fecha de Nacimiento">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaInicio">
                            </mat-datepicker-toggle>
                            <mat-datepicker #fechaInicio></mat-datepicker>
                            <mat-error *ngIf=" hasError('fechaInicio', 'required' )" style="margin-bottom: 5px;">
                                Por favor, ingrese la <strong>Fecha de Inicio</strong> de la indicación
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <!--Tipo de Medicamento: En base a ésto aparece la lista de dosis de medicamentos de ese tipo seleccionado-->
            <div style="width: 100%;">
            
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de Medicamento</mat-label>
                    <mat-select formControlName="tipo" (selectionChange)="selectionTipoMedicamento($event.value)">
                        <mat-option>Seleccione...</mat-option>
                        <mat-option *ngFor="let tipo of tipoList" [value]="tipo.id">
                            {{tipo.descripcion}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('tipo', 'required' )" style="margin-bottom: 5px;">
                        Por favor, seleccione el <strong>Tipo de Medicamento</strong>
                    </mat-error>
                </mat-form-field>

                <div *ngIf="isTopico">
                    <mat-form-field appearance="outline">
                        <mat-label>Medicamento</mat-label>
                        <mat-select formControlName="medicamento" [compareWith]="compareCategoryObjects"  (selectionChange)="selectionMedicamento($event.value)">
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let medicamento of medicamentoList" [value]="medicamento">
                                {{medicamento.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('tipo', 'required' )" style="margin-bottom: 5px;">
                            Seleccione un <strong>Medicamento</strong> de la lista
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="!isTopico">
                    <div >
                        <mat-form-field appearance="outline">
                            <mat-label>Medicamento</mat-label>
                            <input type="text" matInput [matAutocomplete]="auto" placeholder="Ingrese Código ó Descripción"    
                                formControlName="medicamento" id="medicamento" name="medicamento">
                            <mat-error *ngIf="hasError('medicamento', 'required')">Seleccione una <strong>Medicamento</strong></mat-error>
                            <mat-error *ngIf="hasError('medicamento', 'listNotContainstMedicamento')" style="margin-bottom: 5px;">
                                Seleccione un <strong>Medicamento</strong> de la lista
                            </mat-error>
                            <mat-autocomplete #auto="matAutocomplete" panelWidth="panelWidth">
                                <mat-option *ngIf="isLoading" class="is-loading" style="width: 100%;">
                                    <mat-spinner diameter="50"></mat-spinner>
                                </mat-option>
                                <mat-option *ngIf="noDataToDisplay">
                                    No se encontraron Medicamentos para los valores ingresados...
                                </mat-option>
                                <mat-option *ngFor="let medicamento of filteredOptions | async" [value]="medicamento"
                                    class="custom-mat-option">
                                    {{medicamento}}
                                </mat-option></mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
 
                <div *ngIf="!isTopico && selectedMedicamento" style="width: 100%;">
                    <mat-form-field appearance="outline">
                        <mat-label>Frecuencia</mat-label>
                        <mat-select formControlName="frecuencia" (selectionChange)="onChangeFrecuencia()">
                            <mat-option *ngFor="let frecuencia of frecuenciasDisponiblesList" [value]="frecuencia">
                                {{frecuencia}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('frecuencia', 'required')" style="margin-bottom: 5px;">
                            Por favor, seleccione una <strong>Frecuencia</strong> de la lista
                        </mat-error>
                    </mat-form-field>
        
                    <button type="button" mat-button class="btn-ssami-primary" (click)="calcularDosis()" [disabled]="habilitarCalcularDosis()" style="margin-bottom: 15px;">{{'Calcular Dosis' | uppercase}}</button>

                    <mat-form-field appearance="outline" id="dosisc">
                        <mat-label>Dosis Calculada</mat-label>
                        <textarea matInput placeholder="Dosis Calculada"
                            formControlName="dosisCalculada" rows="3"></textarea> 

                        <button matSuffix type="button" style="padding-top: 7px; padding-left: 4px !important;" 
                            [cdkCopyToClipboard]="indicacionFormGroup.controls['dosisCalculada'].value" 
                            color="primary" mat-mini-fab
                            *ngIf="indicacionFormGroup.controls['dosisCalculada'].value" 
                            (click)="copyValue()">
                            <mat-icon title="Copiar valor calculado">content_copy</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
    
                <div *ngIf="selectedMedicamento" style="width: 100%;">

                    <div style="text-align: -webkit-center; margin-bottom: 15px;" *ngIf="showBannerMax">
                        <aside class="warning-banner banner" style="display: flex; place-content: space-between; place-items: center;">
                            <strong><mat-icon>report</mat-icon></strong>
                            <span><b>¡ATENCION!: </b> Dosis máxima: <b>{{ dosisMaxima }}</b></span>         
                            <p style="margin: 0px !important">
                                <button mat-flat-button class="warning-state" (click)="showBannerMax = !showBannerMax">OK</button>
                            </p>                 
                        </aside>
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Indicación</mat-label>
                        <textarea matInput placeholder="Ingrese la Indicación..."
                            formControlName="indicacion" rows="6"></textarea>
                        <mat-error *ngIf=" hasError('indicacion', 'required' )" style="margin-bottom: 5px;">
                            Por favor, Ingrese la <strong>Indicación Médica</strong>
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Diagnóstico</mat-label>
                        <textarea matInput placeholder="Ingrese el Diagnóstico..."
                            formControlName="diagnostico" rows="6"></textarea>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Nota Médica</mat-label>
                        <textarea matInput placeholder="Ingrese la Nota Médica..."
                            formControlName="notaMedica" rows="6"></textarea>
                    </mat-form-field>
        
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button matDialogClose>{{'Cerrar' | uppercase}}</button>
    <button mat-button class="btn-ssami-primary" (click)="generarIndicacion()" [disabled]="indicacionFormGroup.invalid">{{(isEdicion ? 'Editar' : 'Generar') | uppercase}}</button>
</mat-dialog-actions>