<h2 matDialogTitle class="mat-headline">Detalle de Internación</h2>
<mat-dialog-content style="padding-top: 15px;">
    <p><b>Cama:</b> {{data.nroCama}} </p>
    <p><b>Paciente:</b> {{data.Paciente.nombre}} {{data.Paciente.apellido}} </p>
    <p><b>Edad:</b> {{displayAge(data.Paciente.fechaNacimiento)}} </p>
    <p><b>Diagnóstico:</b> {{data.Paciente.Internacions[0].diagnostico}} </p>
    <p><b>Días de Internación:</b> {{daysTo(data.Paciente.Internacions[0].fechaIngreso)}} </p>
    <!--//usando Fecha Ingreso-->
    <p><b>Días de Evolución:</b> {{daysTo(data.Paciente.Internacions[0].inicioSintomaLesion)}} </p>
 
    <div style="padding: 5px;">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>Evoluciones</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div *ngIf="!(dataSource && dataSource.data && dataSource.data.length > 0)">
                            No hay evolucionas para mostrar
                        </div>
                        <div *ngIf="(dataSource && dataSource.data && dataSource.data.length > 0)">
                            Últimas Evoluciones
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-progress-bar mode="indeterminate" *ngIf="loadingEvoluciones"></mat-progress-bar>

                <div *ngIf="!loadingEvoluciones">
                    <div style="text-align: center;"
                        *ngIf="!(dataSource && dataSource.data && dataSource.data.length > 0)">
                        <p>No hay evolucionas para mostrar</p>
                    </div>
    
                    <div style="padding-top: 10px;"
                        *ngIf="(dataSource && dataSource.data && dataSource.data.length > 0)">
 
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <!-- Fecha Column -->
                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef> {{ 'Fecha' | uppercase }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>

                            <!--detalles column -->
                            <ng-container matColumnDef="detalles">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{ 'detalles' | uppercase }} </th>
                                <td mat-cell *matCellDef="let element" style="padding-left: 10px; text-align: center;">
                                    <button type="button" mat-icon-button title="Ver detalle de Interpretación" color="primary" (click)="verDetalles(element, 1)" [disabled]="!(element.interpretacionCount && element.interpretacionCount > 0)">
                                        <mat-icon [inline]="true" style="font-size: 25px;">description</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button [matMenuTriggerFor]="menu" title="Ver detalle de Estudios Complementarios" color="primary" [disabled]="!(element.examenCount && element.examenCount > 0)">
                                        <mat-icon [inline]="true" style="font-size: 25px;">assignment_add</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="verDetalles(element, 2, 1)">
                                            <span>PCR</span>
                                        </button>
                                        <button mat-menu-item (click)="verDetalles(element, 2, 2)">
                                            <span>Serología</span>
                                        </button>
                                        <button mat-menu-item (click)="verDetalles(element, 2, 3)">
                                            <span>Química</span>
                                        </button>
                                        <button mat-menu-item (click)="verDetalles(element, 2, 3)">
                                            <span>Hemograma</span>
                                        </button>
                                        <button mat-menu-item (click)="verDetalles(element, 2, 3)">
                                            <span>Coagulograma</span>
                                        </button>
                                    </mat-menu>

                                    <!--disabled-->
                                    <button type="button" mat-icon-button title="Ver detalle de Imágenes" color="primary" (click)="verDetalles(element, 3)" [disabled]="!(element.imagenCount && element.imagenCount > 0)">
                                        <mat-icon [inline]="true" style="font-size: 25px;">photo_library</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div style="margin-top: 15px;">
                            <button [disabled]="!dataSource || (dataSource && dataSource.data && dataSource.data.length < 5)" (click)="mostrarTodas()" mat-button class="btn-ssami-primary">{{isShowTodas ? 'Mostrar Últimas' : 'Mostrar Todas'}}</button>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <mat-paginator [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button matDialogClose>{{'Cerrar' | uppercase}}</button>
    <button mat-button class="btn-ssami-primary" (click)="evolucionar()">{{'Evolucionar' | uppercase}}</button>
</mat-dialog-actions>