<app-layout>
  <div class="container">
    <mat-toolbar class="page-header" role="heading">
      <h1 style="text-align: center;">Camas Sala 27</h1>
      <!-- <button mat-flat-button class="btn-ssami-primary" (click)="asignarCama()">{{ 'asignar cama' | uppercase }}</button>-->
    </mat-toolbar>
  
    <!-- Grilla de Camas -->
    <div> <!--class="container"-->
      <div *ngIf="isLoading" style="display: flex; place-content: center; margin: 100px">
        <mat-spinner [diameter]="130"></mat-spinner>
      </div>
  
      <div fxLayout="row wrap" *ngIf="!isLoading">
        <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let cama of camas; let i = index">
          <mat-grid-list cols="1" rowHeight="175px" gutterSize="20px">
            <mat-grid-tile>
              <!-- QUEMADO BORDER: [ngClass]="(cama.Paciente.Internacions[0].tipoQuemadura && cama.Paciente.Internacions[0].tipoQuemadura != null) ? 'is-quemado' : ''"-->
              <div style="width: 100%" *ngIf="(cama.Paciente && cama.Paciente != null)" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{data: cama}"><!--(cama.Paciente && cama.Paciente != null) ? menubtn.click() : -->
                <mat-card class="cama-container"
                  [ngClass]="(cama.Paciente && cama.Paciente != null) ? (cama.Paciente.Internacions[0].porcentaje > 0 ? ('error-ligth' + ' is-quemado') : 'error-ligth') : 'success-ligth'" 
                  style="color: #000000; padding-bottom: 25px;">
                  <mat-card-title style="display: flex;">
                    <div style="flex-grow: 1;">{{ (cama.Paciente && cama.Paciente != null) ? (cama.Paciente.nombre + ' ' + cama.Paciente.apellido) : 'Sin Asignar' }}</div>
                    <div>
                      <div class="chip-data success-state" *ngIf="!(cama.Paciente && cama.Paciente != null)">{{ 'disponible' | uppercase }}</div>
                      <div class="chip-data error-state" *ngIf="(cama.Paciente && cama.Paciente != null)">{{ 'no disponible' | uppercase }}</div>
                    </div>
                  </mat-card-title>
                  <mat-card-subtitle>{{ cama.tipoCama | uppercase }}</mat-card-subtitle>
                  <mat-card-content>
                    <h2 style="text-align: center;">{{ cama.nroCama }}</h2>
                  </mat-card-content>
                </mat-card>
              </div>
              <div style="width: 100%" *ngIf="!(cama.Paciente && cama.Paciente != null)" (click)="asignarCama(cama)"><!--(cama.Paciente && cama.Paciente != null) ? menubtn.click() : -->
                <mat-card class="cama-container" [ngClass]="(cama.Paciente && cama.Paciente != null) ? 'error-ligth' : 'success-ligth'" style="color: #000000; padding-bottom: 25px;">
                  <mat-card-title style="display: flex;">
                    <div style="flex-grow: 1;">{{ (cama.Paciente && cama.Paciente != null) ? cama.Paciente : 'Sin Asignar' }}</div>
                    <div>
                      <div class="chip-data success-state" *ngIf="!(cama.Paciente && cama.Paciente != null)">{{ 'disponible' | uppercase }}</div>
                      <div class="chip-data error-state" *ngIf="(cama.Paciente && cama.Paciente != null)">{{ 'no disponible' | uppercase }}</div>
                    </div>
                    <!-- <div>
                      <mat-chip-list>
                        <mat-chip class="success-state" selected *ngIf="!(cama.Paciente && cama.Paciente != null)" style="text-align: center;">DISPONIBLE</mat-chip>
                        <mat-chip class="error-state" selected *ngIf="(cama.Paciente && cama.Paciente != null)" style="text-align: center;">OCUPADO</mat-chip>
                      </mat-chip-list>
                    </div> -->
                  </mat-card-title>
                  <mat-card-subtitle>{{ cama.tipoCama | uppercase }}</mat-card-subtitle>
                  <mat-card-content>
                    <h2 style="text-align: center;">{{ cama.nroCama }}</h2>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  
    <!-- MENU -->
    <mat-menu #menu="matMenu" [overlapTrigger]="true">
      <ng-template matMenuContent let-data="data"><!--let-name="data" [matMenuContent]="data"-->
        <button mat-menu-item (click)="verDetalles(data)">
          <mat-icon>visibility</mat-icon>
          <span>Ver Resumen</span>
        </button>
        <button mat-menu-item (click)="evolucionar(data)">
          <mat-icon>update</mat-icon>
          <span>Evolucionar</span>
        </button>
        <button mat-menu-item (click)="indacacionesMedica(data)">
          <mat-icon class="material-symbols-outlined">prescriptions</mat-icon>
          <span>Indicaciones Médicas</span>
        </button>
        <button mat-menu-item (click)="darDeAlta(data)">
          <mat-icon>replay</mat-icon>
          <span>Liberar cama</span>
        </button>
      </ng-template>
      
    </mat-menu>
  
    <!--; position: fixed
    <div style="visibility: hidden" [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
    </div>
  
    <mat-menu #contextMenu="matMenu" [overlapTrigger]="true" style="justify-content: center;
    align-items: center;">
      <ng-template matMenuContent let-item="item">
        <button mat-menu-item>Action 1</button>
        <button mat-menu-item>Action 2</button>
      </ng-template>
    </mat-menu> -->
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</app-layout>


<!-- DELETE SECTION -->
<ng-template #menuDialog>
  <h2 matDialogTitle class="mat-headline"><strong>Acciones</strong></h2>
  <hr style="margin-top: 0; margin-bottom: 5px;">
  <mat-dialog-content>
    <div>
      <mat-menu>
        <ng-template matMenuContent>
          <button mat-menu-item>Ver Detalles</button><!--(click)="onContextMenuAction1(item)"-->
          <button mat-menu-item>Evolucionar</button> <!--(click)="onContextMenuAction2(item)"-->
          <button mat-menu-item>Liberar</button>
        </ng-template>
      </mat-menu>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>CERRAR</button>
  </mat-dialog-actions>
</ng-template>


<!-- DETALLE SECTION -->
<ng-template #detalleDialog let-data>
  <h2 matDialogTitle class="mat-headline">Detalle de Internación</h2>
  <mat-dialog-content>
    <p><b>Cama:</b> {{data.nroCama}} </p>
    <p><b>Paciente:</b> {{data.Paciente.nombre}} {{data.Paciente.apellido}} </p>
    <p><b>Edad:</b> {{displayAge(data.Paciente.edad)}} </p>
    <p><b>Motivo:</b> {{data.Paciente.edad}} </p>
    <!--<p><b>Fecha Inicio Lesión:</b> {{data.Internacion.fechaInicioSintoma}} </p>-->
    <p><b>Días de Internación:</b> {{daysTo(data.Paciente.edad)}} </p> <!--//usando Fecha Ingreso-->
    <p><b>Días de Evolución:</b> {{daysTo(data.Paciente.edad)}} </p> <!--//usando Fecha Inicio Lesión-->
    <!--<p><b>Diagnóstico:</b> {{data.Internacion.diagnostico}} </p>-->
    <!--
      data es cama
      data.Paciente. (nombre, apellido, etc)
      Nombre Apellido Edad
Motivo?????
    -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>CERRAR</button>
    <button mat-button (click)="evolucionar(data)">EVOLUCIONAR</button>
  </mat-dialog-actions>
</ng-template>

<!-- DAR DE ALTA SECTION -->
<ng-template #darDeAltaDialog let-data>
  <h2 matDialogTitle class="mat-headline">Liberar Cama</h2>
  <mat-dialog-content>
    <p><strong>Atención: </strong> ¿Está seguro que desea liberar la cama?</p>
    <br>
    <p><b>Cama:</b> {{data.nroCama}} </p>
    <p><b>Paciente:</b> {{data.Paciente.nombre}} {{data.Paciente.apellido}} </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose class="cancelar">NO</button><!---->
    <button mat-button class="btn-ssami-primary"
     (click)="applyAlta(data.Paciente.Internacions[0].id)">SI</button><!--matDialogClose="data.Paciente.Internacions[0].id" -->
  </mat-dialog-actions>
</ng-template>

<!-- CONFIRMAR SECTION -->
<ng-template #confirmarDialog>
  <h2 matDialogTitle class="mat-headline">Confirme</h2>
  <mat-dialog-content>
    <p><strong>Atención: </strong> Si confirma se perderán los datos cargados hasta el momento</p> 
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose class="cancelar">CANCELAR</button><!---->
    <button mat-button class="btn-ssami-primary" matDialogClose="SIP">CONFIRMAR</button><!--matDialogClose="data.Paciente.Internacions[0].id" -->
  </mat-dialog-actions>
</ng-template>