<h2 mat-dialog-title class="mat-headline">Evolucionar</h2>
<mat-dialog-content>
    <div mat-dialog-content>
        <p><b>Cama:</b> {{data.nroCama}} </p>
        <p><b>Paciente:</b> {{data.Paciente.nombre}} {{data.Paciente.apellido}} </p>

        <!-- TABS fxFlex -->
        <mat-tab-group (selectedIndexChange)="getInfo($event)" [(selectedIndex)]="selectedTab">
            <mat-tab>
                <!--label="Interpretación" -->
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">description</mat-icon>
                    Interpretación
                </ng-template>
                <div style="margin-top: 16px;">

                    <form [formGroup]="evolucionFormGroup" autocomplete="off">
                        <!-- Fecha de Evolución -->
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [max]="maxDate" [matDatepicker]="fechaEvolucion" placeholder="Fecha"
                                formControlName="fechaEvolucion">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fechaEvolucion"></mat-datepicker-toggle>
                            <mat-datepicker #fechaEvolucion></mat-datepicker>
                            <mat-error *ngIf="hasError('fechaEvolucion','required')">
                                Ingrese la <strong>Fecha</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- Descripción-->
                        <mat-form-field appearance="outline">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput placeholder="Ingrese descripción..." formControlName="descripcion" rows="10"></textarea>
                            <button type="button" matSuffix style="padding-top: 7px; padding-right: 0px !important" color="primary" mat-mini-fab (click)="speechDescription()">
                                <mat-icon title="Cargar Descripción por voz">mic</mat-icon>
                            </button>
                            <mat-error *ngIf="hasError('descripcion','required')">
                                Ingrese la <strong>Descripción</strong>
                            </mat-error>
                        </mat-form-field>

                    </form>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_add</mat-icon>
                    Estudio Complementario
                </ng-template>
                <div style="margin-top: 16px;">
                    <form [formGroup]="estudioComplementarioFormGroup" autocomplete="off">
                        <!-- Fecha -->
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [max]="maxDate" [matDatepicker]="fecha" placeholder="Fecha"
                                formControlName="fecha">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                            <mat-datepicker #fecha></mat-datepicker>
                            <mat-error *ngIf="hasError('fecha','required')">
                                Ingrese la <strong>Fecha</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Origen</mat-label>
                            <mat-select formControlName="origen">
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let origen of origenList" [value]="origen">
                                    {{origen}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('origen','required')">
                                Seleccione el <strong>Origen</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de Estudio Complementario</mat-label>
                            <mat-select formControlName="estudioComplementario"
                                (selectionChange)="selectionTipoEstudioComplementario($event.value)">
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let estudioComplementario of estudioComplementarioList"
                                    [value]="estudioComplementario">
                                    {{estudioComplementario.descripcion}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('estudioComplementario','required')">
                                Seleccione el <strong>Tipo de Estudio Complementario</strong>
                            </mat-error>
                        </mat-form-field>

                        <!-- PCR Section -->
                        <div *ngIf="(1 == selectedEstudio)">
                            <mat-form-field appearance="outline">
                                <mat-label>Resultado PCR</mat-label>
                                <input matInput placeholder="Resultado PCR" type="number" min="0" max="500"
                                    (keypress)="numberOnly($event)" formControlName="resultadoPCR">
                                <mat-error *ngIf="hasError('resultadoPCR','required')">
                                    Ingrese el <strong>Resultado PCR</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('resultadoPCR','min') || hasError('resultadoPCR','max')">
                                    Ingrese un valor entre <strong>0 y 500</strong>
                                </mat-error>
                            </mat-form-field>

                            <section>
                                <label>Interpretación:</label>
                                <mat-radio-group formControlName="tomarValor">
                                    <mat-radio-button value="true" style="padding-left: 10px;">Positivo
                                    </mat-radio-button>
                                    <mat-radio-button value="false" style="padding-left: 10px;">Negativo
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>
                            <mat-error *ngIf="hasError('tomarValor','required')">
                                Seleccione el <strong>Tipo de Valor</strong>
                            </mat-error>
                        </div>

                        <!-- Serología Section -->
                        <div *ngIf="(2 == selectedEstudio)">
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo de Serología</mat-label>
                                <mat-select formControlName="tipo" (selectionChange)="selectionTipo($event.value)">
                                    <mat-option>Seleccione...</mat-option>
                                    <mat-option *ngFor="let tipo of serologiaList" [value]="tipo">
                                        {{tipo.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('tipo','required')">
                                    Ingrese el <strong>Tipo de Serología</strong>
                                </mat-error>
                            </mat-form-field>

                            <div *ngIf="showOtras">
                                <mat-form-field appearance="outline">
                                    <mat-label>Otras</mat-label>
                                    <input matInput autocomplete="off" placeholder="Otras" formControlName="otro">
                                    <mat-error *ngIf="hasError('otro','required')">
                                        Ingrese <strong>otras Serologías</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <section>
                                <label>Resultado:</label>
                                <mat-radio-group formControlName="tomarValor">
                                    <mat-radio-button value="true" style="padding-left: 10px;">Positivo
                                    </mat-radio-button>
                                    <mat-radio-button value="false" style="padding-left: 10px;">Negativo
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>
                            <mat-error *ngIf="hasError('tomarValor','required')">
                                Seleccione el <strong>Tipo de Resultado</strong>
                            </mat-error>
                        </div>

                        <!-- Química Section -->
                        <div *ngIf="(4 == selectedEstudio)">
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo de Química</mat-label>
                                <mat-select formControlName="tipo" (selectionChange)="selectionTipo($event.value)">
                                    <mat-option>Seleccione...</mat-option>
                                    <mat-option *ngFor="let tipo of quimicaList" [value]="tipo">
                                        {{tipo}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('tipo','required')">
                                    Seleccione el <strong>Tipo de Serología</strong>
                                </mat-error>
                            </mat-form-field>

                            <div *ngIf="showOtras">
                                <mat-form-field appearance="outline">
                                    <mat-label>Otras</mat-label>
                                    <input matInput autocomplete="off" placeholder="Otras" formControlName="otro">
                                    <mat-error *ngIf="hasError('otro','required')">
                                        Ingrese otros tipos de <strong>Química</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <section>
                                <label>Resultado:</label>
                                <mat-radio-group formControlName="tomarValor">
                                    <mat-radio-button value="true" style="padding-left: 10px;">Positivo
                                    </mat-radio-button>
                                    <mat-radio-button value="false" style="padding-left: 10px;">Negativo
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>
                            <mat-error *ngIf="hasError('tomarValor','required')">
                                Seleccione el <strong>Tipo de Resultado</strong>
                            </mat-error>
                        </div>

                        <!-- Hemograma Section -->
                        <div *ngIf="(3 == selectedEstudio)">
                            <mat-form-field appearance="outline">
                                <mat-label>Glóbulos Rojos</mat-label>
                                <input matInput placeholder="Glóbulos Rojos" type="number" min="0" max="100"
                                    (keypress)="numberOnly($event)" formControlName="globulosRojos">
                                <mat-error *ngIf="hasError('globulosRojos','required')">
                                    Ingrese el valor de <strong>Glóbulos Rojos</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('globulosRojos','min') || hasError('globulosBlancos','max')">
                                    Ingrese un valor entre <strong>0 y 100</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Glóbulos Blancos</mat-label>
                                <input matInput placeholder="Glóbulos Blancos" type="number" min="0" max="100"
                                    (keypress)="numberOnly($event)" formControlName="globulosBlancos">
                                <mat-error *ngIf="hasError('globulosBlancos','required')">
                                    Ingrese el valor de <strong>Glóbulos Blancos</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('globulosBlancos','min') || hasError('globulosBlancos','max')">
                                    Ingrese un valor entre <strong>0 y 100</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>HTO</mat-label>
                                <input matInput placeholder="HTO" type="number" min="0" max="100"
                                    (keypress)="numberOnly($event)" formControlName="hto">
                                <mat-error *ngIf="hasError('hto','required')">
                                    Ingrese el valor de <strong>HTO</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('hto','min') || hasError('hto','max')">
                                    Ingrese un valor entre <strong>0 y 100</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>HB</mat-label>
                                <input matInput placeholder="HB" type="number" min="0" max="100"
                                    (keypress)="numberOnly($event)" formControlName="hb">
                                <mat-error *ngIf="hasError('hb','required')">
                                    Ingrese el valor de <strong>HB</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('hb','min') || hasError('hb','max')">
                                    Ingrese un valor entre <strong>0 y 100</strong>
                                </mat-error>
                            </mat-form-field>

                            <section>
                                <label>Resultado:</label>
                                <mat-radio-group formControlName="tomarValor">
                                    <mat-radio-button value="true" style="padding-left: 10px;">Normal</mat-radio-button>
                                    <mat-radio-button value="false" style="padding-left: 10px;">Alterado
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>
                            <mat-error *ngIf="hasError('tomarValor','required')">
                                Seleccione el <strong>Tipo de Resultado</strong>
                            </mat-error>
                        </div>

                        <!-- Coagulograma Section -->
                        <div *ngIf="(5 == selectedEstudio)">
                            <mat-form-field appearance="outline">
                                <mat-label>[P] (%)</mat-label>
                                <input matInput placeholder="P (%)" type="number" min="70" max="100"
                                    (keypress)="numberOnly($event)" formControlName="p">
                                <mat-error *ngIf="hasError('p','required')">
                                    Ingrese el valor de <strong>[P] (%)</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('p','min') || hasError('p','max')">
                                    Ingrese un valor entre <strong>70 y 100 (%)</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>KPTT</mat-label>
                                <input matInput placeholder="KPTT (Segundos)" type="number" min="24" max="32"
                                    (keypress)="numberOnly($event)" formControlName="kptt">
                                <mat-error *ngIf="hasError('kptt','required')">
                                    Ingrese el valor de <strong>KPTT</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('kptt','min') || hasError('kptt','max')">
                                    Ingrese un valor entre <strong>24 y 32 (Segundos)</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Plaquetas (K)</mat-label>
                                <input matInput placeholder="Plaquetas (K)" type="number" min="150" max="450"
                                    (keypress)="numberOnly($event)" formControlName="plaquetas">
                                <mat-error *ngIf="hasError('plaquetas','required')">
                                    Ingrese el valor de <strong>Plaquetas (K)</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('plaquetas','min') || hasError('plaquetas','max')">
                                    Ingrese un valor entre <strong>150 y 450 (K)</strong>
                                </mat-error>
                            </mat-form-field>

                            <section>
                                <label>Interpretación:</label>
                                <mat-radio-group formControlName="tomarValor">
                                    <mat-radio-button value="true" style="padding-left: 10px;">Normal</mat-radio-button>
                                    <mat-radio-button value="false" style="padding-left: 10px;">Alterado
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>
                            <mat-error *ngIf="hasError('tomarValor','required')">
                                Seleccione el <strong>Tipo de Interpretación</strong>
                            </mat-error>
                        </div>

                    </form>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">photo_library</mat-icon>
                    Imágenes
                </ng-template>
                <div style="margin-top: 16px;">
                    <form [formGroup]="imagenesFormGroup" autocomplete="off">
                        <!-- Fecha -->
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [max]="maxDate" [matDatepicker]="fecha2" placeholder="Fecha"
                                formControlName="fecha">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="fecha2"></mat-datepicker-toggle>
                            <mat-datepicker #fecha2></mat-datepicker>
                            <mat-error *ngIf="hasError('fecha','required')">
                                Ingrese la <strong>Fecha</strong>
                            </mat-error>
                        </mat-form-field>

                        <div tyle="margin-top: 16px;">
                            <input type="file" style="display: none;" (change)="onFileSelected($event)" accept="image/*"
                                multiple #fileInput>
                            <!-- ADJUNTAR UTILIZANDO LA CAMARA DEL DISPOSITIVO -->
                            <input type="file" style="display: none;" (change)="onFileSelected($event)" accept="image/*"
                                capture="environment" #cameraInput>
                            <button type="button" mat-raised-button  (click)="fileInput.click()" class="btn-ssami-primary"
                                    style="margin-right: 15px;">
                                    <mat-icon>add_photo_alternate</mat-icon>
                                    Adjuntar Imágen
                                </button>
        
                            <!-- Preview Section -->
                            <mat-progress-bar mode="indeterminate" *ngIf="loadingFiles" style="padding-top: 10px;">
                            </mat-progress-bar>
                            <div *ngIf="!loadingFiles">
                                <p *ngIf="(!(files && files.length > 0))" style="color: #f44336; padding-top: 8px;">No se
                                    seleccionaron
                                    archivos
                                </p>
                                <p *ngIf="files && files.length > 0" style="padding-top: 8px;">Se seleccionaron
                                    <b>{{files.length}} archivos</b></p>
                                <!-- image container -->
                                <div class=" image-container" style="padding-bottom: 10px;">
                                    <!-- image item -->
                                    <div>
                                        <div *ngIf="files && files.length > 0">
                                            <br>
                                            <div class="col-12 image-item"
                                                style="display: flex; border-bottom: solid 2px lightgray; padding-bottom: 5px;"
                                                *ngFor="let f of files; let i=index">
                                                <!-- image mini -->
                                                <a [attr.id]="i" [href]="f.url" data-lightbox="image"
                                                    data-title="{{f.file.title}}" style="align-self: center;">
                                                    <img class="ui bordered small image" [src]="f.url" width="30" height="30"
                                                        alt="">
                                                </a>
                                                <!-- image detail-->
                                                <div class="image-detail" style="flex:1; padding: 0px 5px 0px 15px;">
                                                    <!-- name -->
                                                    <div style="font-weight: bold; overflow-wrap: anywhere;">{{f.file.name}}
                                                    </div>
                                                    <!-- size -->
                                                    <div style="color: slategray">{{ formatBytes(f.file.size) }}</div>
                                                </div>
        
                                                <div class="image-actions">
                                                    <!-- preview button -->
                                                    <button type="button" mat-icon-button aria-label="Previsualizar imágen"
                                                        (click)="clickOn(i)">
                                                        <mat-icon [inline]="true" style="font-size: 18px;">visibility</mat-icon>
                                                    </button>
                                                    <!-- delete button -->
                                                    <button type="button" mat-icon-button aria-label="Eliminar imágen"
                                                        (click)="delete(i)">
                                                        <mat-icon [inline]="true" style="font-size: 18px;">cancel</mat-icon>
                                                    </button>
                                                </div>
        
                                            </div>
                                        </div>
        
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-button matDialogClose="yes">{{'Cancelar' | uppercase}}</button>
    <button mat-button cdkFocusInitial class="btn-ssami-primary" [disabled]="isDisabled()"
        (click)="evolucionar()">{{'Aceptar' | uppercase}}</button>
</div>

<!-- CHENGE SECTION -->
<ng-template #changeTipoDialog>
    <h2 matDialogTitle class="mat-headline">Confirme</h2>
    <mat-dialog-content>
        <p><strong>Atención: </strong> Si confirma se perderán los datos cargados hasta el momento</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose class="cancelar">CANCELAR</button>
        <button mat-button class="btn-ssami-primary" matDialogClose="confirm_">CONFIRMAR</button>
    </mat-dialog-actions>
</ng-template>