<app-layout>
  <div class="container">
    <mat-toolbar class="page-header" role="heading">
      <h1>Pacientes</h1>
      <button mat-flat-button class="btn-ssami-primary" (click)="createPractice()">{{ 'crear' | uppercase }}</button>
    </mat-toolbar>
  
    <div class="tables-wrapper">
      <!-- Tabla -->
      <mat-card class="employee-table-wrapper">
        <mat-card-title class="employee-table-wrapper__header" style="flex-wrap: wrap;">
          <!-- Title + Search -->
          <div class="employee-table-wrapper__title" style="padding-right: 50px;">
            Listado de Pacientes
          </div>
          <div style="padding: 10px; flex-grow: 1;">
            <div *ngIf="!isShowFilterInput" style="display: flex; justify-content: end;">
              <button class="employee-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
                <mat-icon class="employee-table-wrapper__icon">search</mat-icon>
              </button>
            </div>
            <div *ngIf="isShowFilterInput" style="display: flex;">
                <input #search matInput class="employee-table-wrapper__search-input" style="width: 100%; place-items: flex-end;" placeholder="Filtrar..." (keyup)="applyFilter($event)">
                <button class="employee-table-wrapper__button" matSuffix mat-icon-button (click)="showFilterInput()">
                  <mat-icon class="employee-table-wrapper__icon">close</mat-icon>
                </button>
            </div> 
          </div>
        </mat-card-title>
        <mat-card-content class="employee-table__content">
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
          <table class="employee-table__table" mat-table [dataSource]="dataSource" [ngClass]="isLoading ? 'is-loading-card' : ''">
            <!-- DNI Column -->
            <ng-container matColumnDef="dni">
              <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> {{ 'DNI' | uppercase }} </th>
              <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.dni}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="nombre" >
              <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef > {{ 'Nombre' | uppercase }} </th>
              <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
      
            <!-- Company Column -->
            <ng-container matColumnDef="apellido">
              <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> {{ 'Apellido' | uppercase }} </th>
              <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>
      
            <!-- City Column -->
            <ng-container matColumnDef="edad">
              <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> {{ 'Edad' | uppercase }} </th>
              <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{displayAge(element.fechaNacimiento)}} </td>
            </ng-container>

            <!-- Fecha de Nacimiento Column -->
            <ng-container matColumnDef="fechaNacimiento">
              <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> {{ ' Fecha de Nacimiento' | uppercase }} </th>
              <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
      
            <!-- Internado Column  -->
            <ng-container matColumnDef="internado">
              <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> {{ 'Internado' | uppercase }} </th>
              <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{ isInternado(element) ? 'Si' : 'No'}} </td>
            </ng-container>

            <!-- Acciones -->
            <ng-container matColumnDef="actions" stickyEnd>
              <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> {{ 'Acciones' | uppercase }} </th>
              <td class="employee-table__table-body" mat-cell *matCellDef="let element">
                <button class="settings-button" mat-icon-button [matMenuTriggerFor]="settings">
                  <mat-icon class="settings-button__icon">more_vert</mat-icon>
                </button>
                <div class="settings-menu">
                  <mat-menu #settings="matMenu" xPosition="before">
                    <button class="settings-menu__item" mat-menu-item (click)="verPaciente(element)">Ver</button>
                    <button class="settings-menu__item" mat-menu-item (click)="editarPaciente(element)">Editar</button>
                    <!-- <button class="settings-menu__item" mat-menu-item [disabled]="isInternado(element)" (click)="deletePaciente(element)">Eliminar</button>-->
                  </mat-menu>
                </div>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </table>
          <div *ngIf="!(dataSource && dataSource.data && dataSource.data.length > 0)" style="width: 100%; text-align: center; margin-top: 10px;">
            <b>No hay datos de Pacientes para mostrar</b>
          </div>
        </mat-card-content>
        <div class="pagination">
          <mat-paginator [pageSizeOptions]="[5, 15, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card>      
    </div>
  </div>
  
    <app-footer></app-footer>
  </app-layout>

  <!-- DETALLE SECTION -->
<ng-template #detalleDialog let-data>
  <h2 matDialogTitle class="mat-headline">Detalle de Paciente</h2>
  <!-- <mat-dialog-content>
    <h4 class="mat-title">Paciente</h4>
    <table style="width: 50%; margin: 0px auto;">
      <tr *ngFor="let data of pacienteFormGroup.value | keyvalue: originalOrder">
        <td> <b>{{getInputName(data.key)}}: </b></td>
        <td>{{getPipeValueType(data.value)}}</td>
      </tr>
    </table>
  </mat-dialog-content> -->
  <mat-dialog-content>
    <table style="width: 50%; margin: 0px auto;">
      <tr>
        <td> <b>D.N.I:</b></td>
        <td>{{ data.dni }}</td>
      </tr>
      <tr>
        <td> <b>Apellido:</b></td>
        <td>{{ data.apellido }}</td>
      </tr>
      <tr>
        <td> <b>Nombre:</b></td>
        <td>{{ data.nombre }}</td>
      </tr>
      <tr>
        <td> <b>Sexo:</b></td>
        <td>{{ data.sexo }}</td>
      </tr>
      <tr>
        <td> <b>Fecha de Nacimiento:</b></td>
        <td>{{ data.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <td> <b>Edad:</b></td>
        <td>{{ displayAge(data.fechaNacimiento) }}</td>
      </tr>
      <tr>
        <td> <b>Datos Responsable:</b></td>
        <td>{{ data.responsable ? data.responsable : ' - ' }}</td>
      </tr>
      <tr>
        <td> <b>Teléfono:</b></td>
        <td>{{ data.telefono }}</td>
      </tr>
      <tr>
        <td> <b>País:</b></td>
        <td>{{ data.direccion.split('-')[0] }}</td>
      </tr>
      <tr>
        <td> <b>Provincia:</b></td>
        <td>{{ data.direccion.split('-')[1] }}</td>
      </tr>
      <tr>
        <td> <b>Partido:</b></td>
        <td>{{ data.direccion.split('-')[2] }}</td>
      </tr>
      <tr>
        <td> <b>Calle:</b></td>
        <td>{{ data.direccion.split('-')[3] }}</td>
      </tr>
      <tr>
        <td> <b>Altura:</b></td>
        <td>{{ data.direccion.split('-')[4] }}</td>
      </tr>
      <tr>
        <td> <b>Internado:</b></td>
        <td>{{ isInternado(data) ? 'Si' : 'No'}}</td>
      </tr>
      <tr>
        <td> <b>Injertado:</b></td>
        <td>{{ data.injertado ? 'Si' : 'No'}}</td>
      </tr>
      <tr>
        <td> <b>Infectado:</b></td>
        <td>{{ data.infectado ? 'Si' : 'No'}}</td>
      </tr>
      <tr>
        <td> <b>Riesgo Social:</b></td>
        <td>{{ data.riesgoSocial ? 'Si' : 'No'}}</td>
      </tr>
      <tr>
        <td> <b>Enfermedades de Base:</b></td>
        <td>{{ data.enfermedadBase ? data.enfermedadBase : ' - ' }}</td>
      </tr>
      <tr>
        <td> <b>Otras Enfermedades de Base:</b></td>
        <td>{{ data.otraEnfermedad ? data.otraEnfermedad : ' - '}}</td>
      </tr>
    </table>
    <!-- 
        var dir_ = data.paciente.direccion.split('-');
            //ARGENTINA-BUENOS AIRES-LA PLATA-1-681
            this.pacienteFormGroup.get("pais").patchValue(dir_[0]);
            this.pacienteFormGroup.get("pais").disable();
            this.pacienteFormGroup.get("provincia").patchValue(dir_[1]);
            this.pacienteFormGroup.get("provincia").disable();
            this.pacienteFormGroup.get("partido").patchValue(dir_[2]);
            this.pacienteFormGroup.get("partido").disable();
            this.pacienteFormGroup.get("calle").patchValue(dir_[3]);
            this.pacienteFormGroup.get("calle").disable();
            this.pacienteFormGroup.get("altura").patchValue(dir_[4]);
            this.pacienteFormGroup.get("altura").disable();
      <ul>
        <li>D.N.I: <b>{{ data.dni }}</b></li>
        <li>Apellido: <b>{{ data.apellido }}</b></li>
        <li>Nombre: <b>{{ data.nombre }}</b></li>
        <li>Sexo: <b>{{ data.sexo }}</b></li>
        <li>Fecha de Nacimiento: <b>{{data.fechaNacimiento}}</b></li>
        <li>Edad: <b>{{displayAge(data.fechaNacimiento)}}</b></li>
        <li>Datos Responsable: <b>{{ data.responsable }}</b></li>
        <li>Teléfono: <b>{{ data.telefono }}</b></li>
        <li>Afiliado: <b>{{ data.Afiliado }}</b></li>
        <li>Internado: <b>{{ isInternado(data) ? 'Internado' : 'No Internado'}}</b></li>
      </ul>-->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>CERRAR</button>
  </mat-dialog-actions>
</ng-template>