<!-- Success Message -->
<div style="text-align: -webkit-center;">
  <aside class="success-banner banner" style="max-width: 500px; display: flex; margin-bottom: 15px; flex-direction: column;" *ngIf="isSubmitted">
      <strong><mat-icon>check_circle</mat-icon></strong>
      <span style="font-size: 20px; font-weight: 500; padding-bottom: 10px;">¡Registro Exitoso!</span> 
      <p>Sus datos de usuario fueron registrados exitosamente.</p>
      <!--, puede iniciar sesión haciendo click <a (click)="ngOnInit()" class="alert-link">aquí</a>-->
  </aside>
</div>

<form class="form" [formGroup]="form" (ngSubmit)="sign()" *ngIf="!isSubmitted" autocomplete="new-password">
  <mat-form-field class="form__input" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" formControlName="nombre">
    <mat-error *ngIf="hasError('nombre', 'required')" style="margin-bottom: 5px;">Por favor, ingrese su Nombre</mat-error>
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <mat-label>Apellido</mat-label>
    <input matInput placeholder="Apellido" formControlName="apellido">
    <mat-error *ngIf="hasError('apellido', 'required')" style="margin-bottom: 5px;">Por favor, ingrese su Apellido</mat-error>
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <mat-label>Matrícula</mat-label>
    <input matInput placeholder="Matrícula" type="number" formControlName="matricula">
    <mat-error *ngIf="hasError('matricula', 'required')" style="margin-bottom: 5px;">Por favor, ingrese su Matrícula</mat-error>
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" formControlName="email">
    <mat-error *ngIf="hasError('email', 'required')" style="margin-bottom: 5px;">Por favor, ingrese su Email</mat-error>
    <mat-error *ngIf="hasError('email', 'email') && !(hasError('email', 'required'))" style="margin-bottom: 5px;">Por favor, ingrese una dirección de Email válida</mat-error>
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" type="password" formControlName="password">
    <mat-error *ngIf="hasError('password', 'required')" style="margin-bottom: 5px;">Por favor, ingrese su Contraseña</mat-error>
  </mat-form-field>

  <div class="form-actions" *ngIf="!isLoading">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Crear Cuenta</button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</form>
