<h2 mat-dialog-title class="mat-headline">{{isView ? 'Ver' : (isEdicion ? 'Editar' : 'Crear')}} Medicamento</h2>
<mat-dialog-content>
    <div mat-dialog-content>
        <section>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <div *ngIf="isView" [ngClass]="isLoading ? 'is-loading-card' : ''">
                <div style="padding: 10px;">
                    <p><b>Tipo de Medicamento:</b> {{tipoMedicamentoView}} </p>
                    <p><b>Medicamento:</b> {{nombreView}} </p>
                    <p *ngIf="!isTopico">
                        <b>Dosis Máxima:</b> {{(dosisUnidadView)}}
                    </p>
                </div>
            </div>
            <!--form-->
            <div *ngIf="!isView">
                <div style="text-align: -webkit-center; margin-bottom: 15px;" *ngIf="showBanner">
                    <aside class="warning-banner banner"
                        style="display: flex; place-content: space-between; place-items: center;">
                        <strong><mat-icon>report</mat-icon></strong>
                        <span style="max-width: 650px;"><b>¡ATENCION!: </b>{{ bannerMsg }} <b>criterio profesional.</b>
                        </span>
                        <p style="margin: 0px !important">
                            <button mat-flat-button class="warning-state" (click)="showBanner = !showBanner">OK</button>
                        </p>
                    </aside>
                </div>

                <!-- Mensaje -->
                <div style="text-align: -webkit-center; margin-bottom: 15px;" *ngIf="false">
                    <aside class="info-banner banner" style="display: flex; place-content: space-between;">
                        <strong><mat-icon>report</mat-icon></strong>
                        <span>{{bannerMsg}}</span>
                        <p>
                            <button mat-flat-button class="info-state" (click)="showBanner = !showBanner">OK</button>
                        </p>
                    </aside>
                </div>

                <form [formGroup]="medicamentoFormGroup" autocomplete="off"
                    [ngClass]="isLoading ? 'is-loading-card' : ''">
                    <!-- Tipo de Medicamento -->
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Tipo de Medicamento</mat-label>
                        <mat-select formControlName="tipo" (selectionChange)="selectionTipoMedicamento($event.value)">
                            <mat-option>Seleccione...</mat-option>
                            <mat-option *ngFor="let tipo of tipoList" [value]="tipo.id">
                                {{tipo.descripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('tipo', 'required' )" style="margin-bottom: 5px;">
                            Por favor, seleccione el <strong>Tipo de Medicamento</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- Medicamento -->
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Medicamento</mat-label>
                        <input matInput placeholder="Ingrese nombre del Medicamento" formControlName="nombre" required>
                        <mat-error *ngIf="hasError('nombre', 'required' )" style="margin-bottom: 5px;">
                            Por favor, seleccione el <strong>Tipo de Medicamento</strong>
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="!isTopico">
                        <!-- Dosis Máxima Diaria -->
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Dosis Máxima Diaria</mat-label>
                            <input matInput autocomplete="off" placeholder=" Dosis Máxima Diaria"
                                (keypress)="numberOnly($event)" formControlName="dosisMaximaDiaria">
                            <mat-error *ngIf=" hasError('dosisMaximaDiaria', 'required' )" style="margin-bottom: 5px;">
                                Por favor, Ingrese el <strong>Peso</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- Unidad Dosis Máxima -->
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Unidad Dosis Máxima</mat-label>
                            <mat-select formControlName="dosisMaximaUnidad">
                                <mat-option>Seleccione...</mat-option>
                                <mat-option *ngFor="let unidad of unidadesList" [value]="unidad.id">
                                    {{unidad.descripcion}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('dosisMaximaUnidad', 'required' )" style="margin-bottom: 5px;">
                                Por favor, seleccione el <strong>Tipo de Medicamento</strong>
                            </mat-error>
                        </mat-form-field>

                        <button *ngIf="!isView" type="button" style="margin-bottom: 10px;" (click)="agregarDosis()"
                            mat-button class="btn-ssami-primary">{{'Agregar Dosis' | uppercase}}</button>
                        <p *ngIf="!isTopico && !canSave()" style="color: red">Debe agregar al menos una Dosis para poder
                            guardar el Medicamento</p>
                        <!-- DOSIS PANEL-->
                        <div style="padding-bottom: 5px;">
                            <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Listado de Dosis</b>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <div *ngIf="!(dataSource && dataSource.data && dataSource.data.length > 0)">
                                                No hay Dosis para mostrar
                                            </div>
                                            <div *ngIf="(dataSource && dataSource.data && dataSource.data.length > 0)">
                                                El medicamento posee: <b>{{dataSource.data.length}} dosis</b>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <mat-progress-bar mode="indeterminate" *ngIf="loadingDosis"></mat-progress-bar>

                                    <div *ngIf="!loadingDosis">
                                        <div style="text-align: center;"
                                            *ngIf="!(dataSource && dataSource.data && dataSource.data.length > 0)">
                                            <p>No hay Dosis para mostrar</p>
                                        </div>

                                        <div style="padding-top: 10px;"
                                            *ngIf="(dataSource && dataSource.data && dataSource.data.length > 0)">
                                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                                                style="width: 100%;">
                                                <!-- Dosis Column  -->
                                                <ng-container matColumnDef="dosis">
                                                    <th mat-header-cell *matHeaderCellDef> {{ 'Dosis' | uppercase }}
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                        {{element.dosis}}
                                                    </td>
                                                </ng-container>

                                                <!-- Unidad Column -->
                                                <ng-container matColumnDef="unidad">
                                                    <th mat-header-cell *matHeaderCellDef> {{ 'Unidad' | uppercase }}
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{getTipoUnidadesDescripcion(element.unidad)}} </td>
                                                </ng-container>

                                                <!-- Tipo Dosis Column -->
                                                <ng-container matColumnDef="tipoDosis">
                                                    <th mat-header-cell *matHeaderCellDef> {{ 'Tipo' | uppercase }}
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{getTipoDosisDescripcion(element.tipoDosis)}} </td>
                                                </ng-container>

                                                <!-- Vía Column -->
                                                <ng-container matColumnDef="via">
                                                    <th mat-header-cell *matHeaderCellDef> {{ 'Vía' | uppercase }} </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{getViaDosisDescripcion(element.via)}} </td>
                                                </ng-container>

                                                <!-- Frecuencias Posibles Column -->
                                                <ng-container matColumnDef="frecuencias">
                                                    <th mat-header-cell *matHeaderCellDef> {{ 'Frecuencias' | uppercase
                                                        }} </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{getFrecuenciasGrid(element.frecuencias)}} </td>
                                                </ng-container>

                                                <!--detalles column -->
                                                <ng-container matColumnDef="actions" stickyEnd>
                                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                                        {{ 'detalles' | uppercase }}
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"
                                                        style="padding-left: 10px; text-align: center;">
                                                        <button type="button" class="settings-button" mat-icon-button
                                                            [matMenuTriggerFor]="menu">
                                                            <mat-icon class="settings-button__icon">more_vert</mat-icon>
                                                        </button>
                                                        <mat-menu #menu="matMenu">
                                                            <!-- <button type="button" mat-menu-item (click)="verDosisMedicamento(element)">
                                                        <span>Ver</span>
                                                    </button>-->
                                                            <button type="button" mat-menu-item
                                                                (click)="editarDosisMedicamento(element)">
                                                                <span>Editar</span>
                                                            </button>
                                                            <button type="button" mat-menu-item
                                                                (click)="eliminarDosisMedicamento(element)">
                                                                <span>Eliminar</span>
                                                            </button>
                                                        </mat-menu>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="pagination" #paginatorDosis>
                                        <mat-paginator [pageSizeOptions]="[5, 15, 25]"
                                            showFirstLastButtons></mat-paginator>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="isView && !isTopico">
                <div style="padding-bottom: 5px;">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <b>Listado de Dosis</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div *ngIf="!(dataSource && dataSource.data && dataSource.data.length > 0)">
                                        No hay Dosis para mostrar
                                    </div>
                                    <div *ngIf="(dataSource && dataSource.data && dataSource.data.length > 0)">
                                        El medicamento posee: <b>{{dataSource.data.length}} dosis</b>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <mat-progress-bar mode="indeterminate" *ngIf="loadingDosis"></mat-progress-bar>

                            <div *ngIf="!loadingDosis">
                                <div style="text-align: center;"
                                    *ngIf="!(dataSource && dataSource.data && dataSource.data.length > 0)">
                                    <p>No hay Dosis para mostrar</p>
                                </div>

                                <div style="padding-top: 10px;"
                                    *ngIf="(dataSource && dataSource.data && dataSource.data.length > 0)">
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                                        style="width: 100%;">
                                        <!-- Dosis Column  -->
                                        <ng-container matColumnDef="dosis">
                                            <th mat-header-cell *matHeaderCellDef> {{ 'Dosis' | uppercase }} </th>
                                            <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                                                {{element.dosis}}
                                            </td>
                                        </ng-container>

                                        <!-- Unidad Column -->
                                        <ng-container matColumnDef="unidad">
                                            <th mat-header-cell *matHeaderCellDef> {{ 'Unidad' | uppercase }} </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{getTipoUnidadesDescripcion(element.unidad)}} </td>
                                        </ng-container>

                                        <!-- Tipo Dosis Column -->
                                        <ng-container matColumnDef="tipoDosis">
                                            <th mat-header-cell *matHeaderCellDef> {{ 'Tipo' | uppercase }} </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{getTipoDosisDescripcion(element.tipoDosis)}} </td>
                                        </ng-container>

                                        <!-- Vía Column -->
                                        <ng-container matColumnDef="via">
                                            <th mat-header-cell *matHeaderCellDef> {{ 'Vía' | uppercase }} </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{getViaDosisDescripcion(element.via)}} </td>
                                        </ng-container>

                                        <!-- Frecuencias Posibles Column -->
                                        <ng-container matColumnDef="frecuencias">
                                            <th mat-header-cell *matHeaderCellDef> {{ 'Frecuencias' | uppercase }} </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{getFrecuenciasGrid(element.frecuencias)}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedViewColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedViewColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination" #paginatorDosis>
                                <mat-paginator [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </section>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button *ngIf="isView" mat-button matDialogClose="yes">{{'Cerrar' | uppercase}}</button>
    <button *ngIf="!isView" mat-button matDialogClose="yes">{{'Cancelar' | uppercase}}</button>
    <button *ngIf="!isView" mat-button cdkFocusInitial class="btn-ssami-primary" [disabled]="!canSave()"
        (click)="agregarMedicamento()">{{(isEdicion ? 'Editar' : 'Agregar') | uppercase}}</button>
    <!--[mat-dialog-close]="data" -->
</mat-dialog-actions>

<!-- DELETE SECTION -->
<ng-template #deleteDialog>
    <h2 matDialogTitle class="mat-headline">Eliminar</h2>
    <mat-dialog-content>
        <strong>Atención: </strong> ¿Desea eliminar la Dosis seleccionada?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose>No</button>
        <button mat-raised-button class="btn-ssami-primary" matDialogClose="yes">Si</button>
    </mat-dialog-actions>
</ng-template>